/*

This here is VERSION 2 of the style.css file as last edited by Tomm Collier Jr - ID 1607986.
It goes with the latest version of our Pallette consisting exclusively of shades of blue. 
No fifty shades of grey here!

*/

html{
	background-color: #00A5FF;
}

h1.h3.mb-3.font-weight-normal {
	color: #FFFFFF;
}

label {
	color: #FFFFFF;
}

nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
    background-color: #003470 !important;
}

p.mt-5.mb-3.text-muted {
    color: black !important;
	z-index: 1;
}


body {
  height: 100%;
  margin: 0;
 max-height: 20vh;
 overflow: hidden;
 background-color: #00A5FF;
	color: #FFFFFF;
}

footer {
  height: 100px;
  border-radius: 100% / 30% 30% 0 0;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

img {
	padding: 5px;
}

/*sign-in log-in button stuff*/

/*sign-in button*/
button.btn.btn-lg.btn-primary.btn-block {
	background-color: #0062AD;
	border-color: #0062AD;
}

/*register button*/
a.text-center.btn.btn-md.btn-secondary.btn-block {
	background-color: #59C2FF !important;
	border-color: #59C2FF !important;
}

body {
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

body.text-center {
	background-color: #00A5FF;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border-color: #00A5FF;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  

}
